* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ced6e0;
    position: static;
}
.container{
    padding: 0rem;
    margin-left: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: auto;
    width: 42rem;
}
.row1 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}
.row1 p{
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.card{
    max-width: 45rem;
    padding: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 11px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.pad-card{
    margin-left: 1rem;
    padding-top: 0rem;
    position: relative;
    margin-bottom: 0rem;
}
.jarak-kartu{
    padding: 15px;
}
.jrkats-bwh{
    padding-bottom: 0rem;
}
.text h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.pdg{
    padding: 0px 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px 0px;
    font-size: 10px;
}
.pda{
    padding-left: 0px;
    padding: 0px 0px;
    padding-top: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 12px;
}
.card img{
    width: 90px;
}
.btn{
    width: 100%;
    background-color: #01a3a4;
    color: white;
    font-size: 16px;
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
    border-radius: 11px;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}

/* mobile */
[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .col-sm-6 {
        width: 50%;
        text-align: center;
    }
    .col-sm-12 {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
