* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ced6e0;
}
.container{
    padding: 0rem;
    margin-left: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: auto;
    width: 42rem;
}
.row1 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}
.row1 p{
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.card{
    max-width: 45rem;
    padding: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 11px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.pad-card{
    margin-left: 1rem;
    padding-top: 0rem;
    position: relative;
    margin-bottom: 0rem;
}
.jarak-kartu{
    padding: 15px;
}
.jrkats-bwh{
    padding-bottom: 0rem;
}
.text h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.pdg{
    padding: 0px 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px 0px;
    font-size: 10px;
}
.pda{
    padding-left: 0px;
    padding: 0px 0px;
    padding-top: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 12px;
}
.card img{
    width: 90px;
}
.btn{
    width: 140px;
    background-color: #01a3a4;
    color: white;
    font-size: 16px;
}